<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🏠 Shelter Locator</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        ul {
            list-style-type: disc;
            margin-left: 20px;
        }

        h1 {
            margin-bottom: 40px;
        }

        #FirstParagraph {
            margin-top: 10px;
            margin-bottom: 30px;
        }

        #APIList {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    <h1>🏠 Shelter Locator</h1>

    <h2>📜 Description</h2>
    <div id="FirstParagraph">
        <p>Shelter Locator is a simple web application,</p>
        <p>that allows users to locate, update, delete, and add new shelters. 🚀</p>
    </div>

    <h2>🚀 API's for the project:</h2>
    <p id="#FirstParagraph">The Shelter Locator project exposes the following API endpoints:</p>
    <ul id="APIList">
        <li><strong>`GET  &nbsp;/getShelters`</strong>: Retrieve the list of shelters.</li>
        <li><strong>`POST &nbsp;/addShelter`</strong>: Add a new shelter.</li>
        <li><strong>`PUT  &nbsp;/updateShelter`</strong>: Update shelter information.</li>
        <li><strong>`DELETE  &nbsp;deleteShelter/:id`</strong>: Delete a shelter.</li>
    </ul>

    <h2>🛠 Adding a new shelter</h2>
    <p id="#FirstParagraph">To add a new shelter:</p>
    <ul>
        <li>Make a <strong>`POST`</strong> request to the <strong>`/addShelters`</strong> endpoint.</li>
        <li>Include the required information in the request body.</li>
        <p2><br><strong>Or:</strong><br></p3>
        <br><li>You can simply go to the add shelter page and add there.</li>
    </ul>
    <h2>🛠 Usage</h2>
    <p id="#FirstParagraph">Shelter Locator provides a user-friendly interface to:</p>
    <ul>
        <li>View the list of shelters</li>
        <li>Add new shelters</li>
        <li>Update existing shelter information</li>
        <li>Delete shelters</li>
    </ul>
</body>
</html>
